<div>
		<fieldset>
			<legend>Level</legend>
			<input autofocus type="number" name="level" min="0" max="14" value="1" />
		</fieldset>

		<fieldset />
			<legend>Strength</legend>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="normal" checked /> 일반
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="mook" /> 잡졸
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="weakling" /> 약골
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="elite" /> 정예
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="double" /> 2배 강함
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="triple" /> 3배 강함
			</label>
		</fieldset>
</div>
