<div class="archmage chat-card feature-card swade-card"
     data-actor-id="{{actorId}}" data-token-id="{{tokenId}}" data-item-id="{{item._id}}">
  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
    <h3 class="item-name">{{#if system.ruby.value}}<ruby>{{item.name}}<rt>{{system.ruby.value}}</rt></ruby>{{else}}{{item.name}}{{/if}}</h3>
  </header>
  <div class="card-content">
    <div class="container">
      {{#if system.description.value}}{{{system.description.value}}}{{else}}<p class="no-desc">설명 없음</p>{{/if}}
    </div>
  </div>
  <footer class="card-footer">
    {{#if system.rank.value}}<span>랭크: {{system.rank.value}}</span>{{/if}}
    {{#if system.kind.value}}<span>종류: {{system.kind.value}}</span>{{/if}}
  </footer>
</div>
