<div class="archmage chat-card swade-card swade-roll-message save-card">
  <div class="card-content">
    <div class="roll-flavor">{{saveType}}{{#if target}} <span class="save-target">(목표 {{target}}+)</span>{{/if}}</div>
    <div class="swade-roll">
      <div class="dice-roll">
        <div class="dice-result">
          <div class="dice-formula">
            <ol class="formula-list">
              {{#each formulaParts}}{{#if die}}<li class="die {{cls}}" data-tooltip="{{hint}}"><span>{{result}}</span></li>{{else}}<li data-tooltip="{{hint}}">{{result}}</li>{{/if}}{{/each}}
            </ol>
          </div>
          <div class="dice-flavor">굴림 결과</div>
          <div class="dice-total">{{total}}</div>
        </div>
      </div>
    </div>
    {{#if success}}
    <div class="roll-result-banner roll-success">✔ {{localize 'ARCHMAGE.SAVE.success'}}</div>
    {{else}}
    <div class="roll-result-banner roll-fail">✖ {{localize 'ARCHMAGE.SAVE.failure'}}</div>
    {{/if}}
  </div>
</div>
