<div class="archmage chat-card swade-card swade-roll-message ability-card">
  <div class="card-content">
    <div class="roll-flavor">{{#if ability.name}}{{ability.name}}{{#if ability.rank}} {{ability.rank}}{{/if}} 판정{{else}}판정{{/if}}</div>
    {{#if background.name}}
      <div class="roll-bg-line">{{background.name}}</div>
    {{/if}}
    {{#if modifiers.length}}
    <details class="modifiers">
      <summary>수정치</summary>
      <ul class="modifier-list">
        {{#each modifiers}}<li>{{label}}: {{disp}}</li>{{/each}}
      </ul>
    </details>
    {{/if}}
    <div class="swade-roll">
      <div class="dice-roll">
        <div class="dice-result">
          <div class="dice-formula">
            <ol class="formula-list">
              {{#each formulaParts}}{{#if die}}<li class="die {{cls}}" {{#if img}}style="background-image:url('{{img}}');"{{/if}} data-tooltip="{{hint}}"><span>{{result}}</span></li>{{else}}<li data-tooltip="{{hint}}">{{result}}</li>{{/if}}{{/each}}
            </ol>
          </div>
          <div class="dice-flavor">굴림 결과</div>
          <div class="dice-total">{{total}}</div>
        </div>
      </div>
    </div>
    {{#if crit}}<div class="roll-result-banner roll-crit">★ 대성공!</div>{{/if}}
    {{#if fumble}}<div class="roll-result-banner roll-fumble">✖ 대실패!</div>{{/if}}
  </div>
</div>
