<div class="archmage chat-card swade-card ability-card">
  <header class="card-header flexrow">
    <h3 class="item-name">{{#if ability.name}}{{ability.name}} {{ability.rank}}({{numberFormat ability.bonus decimals=0 sign=true}}){{/if}}</h3>
  </header>
  <div class="card-content">
    {{#if background.name}}
      <div class="container"><strong>{{background.name}}</strong></div>
    {{/if}}
    {{{rollHTML}}}
    {{#if crit}}<div class="roll-result-banner roll-crit" style="text-align:center;font-weight:bold;color:#1a7f37;margin:3px 0 1px;">★ 대성공!</div>{{/if}}
    {{#if fumble}}<div class="roll-result-banner roll-fumble" style="text-align:center;font-weight:bold;color:#cf222e;margin:3px 0 1px;">✖ 대실패!</div>{{/if}}
  </div>
</div>
