<section class="swade-roll-message">
  <div class="swade-roll">
    <div class="dice-roll trait-roll">
      {{#if flavor}}<div class="dice-flavor">{{flavor}}</div>{{/if}}
      <div class="dice-result">
        <div class="dice-formula">
          <ol class="formula-list">
            {{#each formulaParts}}
              {{#if die}}
                <li class="die"><span class="{{class}}">{{result}}</span></li>
              {{else}}
                <li>{{result}}</li>
              {{/if}}
            {{/each}}
          </ol>
        </div>
        <div class="dice-flavor">결과</div>
        <div class="dice-total">
          <ol class="result-list">
            <li class="die"><span class="label">{{data.roll.total}}</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  {{#if reroll}}
  <footer class="roll-interaction">
    <button type="button" class="free-reroll grail-reroll-btn" data-reroll="luck"
      data-actor-id="{{reroll.actorId}}" data-ability="{{reroll.abilityKey}}"
      data-background="{{reroll.backgroundKey}}" data-situational="{{reroll.situational}}">
      <i class="fa-solid fa-dice"></i> 재굴림
    </button>
  </footer>
  {{/if}}
</section>
