<form class="archmage item-sheet action-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ARCHMAGE.name'}}"/>
        </h1>
    </header>

    <article class="sheet-content">
        <section class="sheet-body">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="details">{{localize 'ARCHMAGE.details'}}</a>
                <a class="item" data-tab="effects">{{localize 'ARCHMAGE.effects'}}</a>
            </nav>

            <div class="sheet-tabs-content">
                <div class="tab" data-group="primary" data-tab="details">
                    <ol class="item-details">
                        <li>
                            <label>분류</label>
                            <select name="system.category.value">
                                <option value="system" {{#if (eq system.category.value "system")}}selected{{/if}}>체계</option>
                                <option value="action" {{#if (eq system.category.value "action")}}selected{{/if}}>액션</option>
                                <option value="equip" {{#if (eq system.category.value "equip")}}selected{{/if}}>예장</option>
                                <option value="skill" {{#if (eq system.category.value "skill")}}selected{{/if}}>스킬</option>
                                <option value="variable" {{#if (eq system.category.value "variable")}}selected{{/if}}>가변 기능</option>
                                <option value="np" {{#if (eq system.category.value "np")}}selected{{/if}}>보구</option>
                            </select>
                        </li>
                        {{#if (eq system.category.value "np")}}
                        <li>
                            <label>루비</label>
                            <input type="text" name="system.ruby.value" value="{{system.ruby.value}}" placeholder="이름 위 표기"/>
                        </li>
                        {{/if}}
                        {{#unless (eq system.category.value "system")}}
                        <li>
                            <label>판정 능력치</label>
                            <input type="text" name="system.rollAbility.value" value="{{system.rollAbility.value}}" placeholder="예: str (선택)"/>
                        </li>
                        {{#unless (eq system.category.value "action")}}
                        <li>
                            <label>다이스</label>
                            <input type="text" name="system.damage.value" value="{{system.damage.value}}" placeholder="예: 1d8 (선택)"/>
                        </li>
                        {{/unless}}
                        {{/unless}}
                    </ol>

                    <label class="feature-effect-label">효과</label>
                    {{editor system.description.value target="system.description.value" button=true}}
                </div>

                {{!-- Effects --}}
                <div class="tab" data-group="primary" data-tab="effects">
                    {{> "systems/watersnake-grail-war/templates/items/_item-effect-part.html" effects=effects}}
                </div>
            </div>
        </section>
    </article>
</form>
