.section--effects {
  .effects-filters,
  .effects-group {
    flex: 0;
  }

  .effects-group + .effects-group {
    margin-top: 20px;
  }

  .effect-controls {
    flex: 0 0 64px;
  }

  .effects-title,
  .effects-group-title {
    border: 0;
    text-align: left;
  }

  .effects-group-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .effects-header-title {
    border-bottom: 2px solid;

    h2 {
      margin: 0;
    }
  }

  .effects-title {
    margin: 0;
  }

  .effects-item {
    position: relative;
  }

  .effects-grid {
    grid-template-columns: 40px auto 300px 20px 60px;
    gap: 2px;
    font-size: $font-tiny;
    font-family: $font-stack-label;
    text-align: center;

    > * {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .effects-name,
    .effects-group-title {
      text-align: left;
      justify-content: flex-start;
    }

    .effects-group-title {
      grid-column: 1 / 5;
    }

    .effects-name {
      font-size: $font-xs;
      font-family: $font-stack-secondary;
      overflow: hidden;
      padding-left: $padding-sm;

      &:hover {
        ~ .effects-feat-pips,
        ~ .effects-action {
          opacity: 0.25;
        }

        .effects-title {
          position: absolute;
          overflow: visible;
          padding-right: $padding-md;
          z-index: 10;
        }
      }
    }

    .effects-title {
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-xs;
    }

    .effects-name { grid-column-start: 2; }
    .effects-bonus { grid-column-start: 3; }
    .effects-chakra,
    .effects-quantity { grid-column-start: 4; }
    .item-controls { grid-column-start: 5; }
  }

  .effect-control {
    width: 36px;
  }

  .effects-summary {
    color: $c-white;
    text-shadow: 0 0 10px $c-black--50;
    margin: 0 0 1px 0;
    background: $c-power-other;

    .rollable,
    a {
      color: $c-white;

      &:hover {
        color: $c-white;
        text-shadow: 0 0 10px $c-white;
      }

      &::before {
        color: $c-white;
      }
    }
  }

  .effects-disabled {
    .effects-summary {
      opacity: 0.6;
    }
  }

  .effect-detail {
    overflow: hidden;
  }

  .effects-bonus {
    align-items: stretch;
  }

  .bonus {
    background: $c-black--25;
    border-radius: $padding-sm;
    margin: 1px 2px;
    font-size: $font-tiny;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
  }

  .bonus-mode {
    margin: 0 $padding-sm;
  }

  .bonus-label {
    margin-right: 2px;
  }
}
