.character-header {
  grid-template-columns: repeat(4, 1fr);

  input[type="text"],
  input[type="number"] {
    text-align: left;
    font-family: $font-stack-secondary;
    font-weight: normal;
    font-size: $font-sm;
  }
}